/*--------------------------*/
/* Navigation - Mobile
/*--------------------------*/

.mobile-nav {
	background: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 95vw;
    padding-top:60px;
    padding-bottom:30px;
    @include z-index(mobile-nav);
    @include gutters();
    transition: all ease-in-out 0.5s;
    transform: translateX(-150%);
    box-shadow: 10px 0px 50px 10px rgba(0,0,0,0.75);
    overflow-y: scroll;
    
    &.open {
	    transform: translateX(0%);
    }
    
    .btn--booking {
	    display: block;
	    width: 100%;
    }
    
    .language-selector {
	    display: block;
		position: absolute;
		top: 11px;
		left: 0;
    }
    
    .utility-links {
	    display: block;
	    padding: 0;
	    
	    li + li {
		    margin-left: 0;
	    }
    }
    
    li {
	    display: block;
	    border-top: 1px solid $gray;
		padding-top: 15px;
		margin-top: 15px;
    }
}

.mobile-nav--close {
	position: absolute;
	top: 0px;
	right: 0px;
	color: $gray-dark;
	background: transparent;
	
	&:focus {
		outline: none;
	}
	
	&:hover {
		cursor: pointer;
		color: $blue;
		background: transparent;
	}
	
	&::before {
		@include iconfont($icon-close, 20px);
	}
}

.navigation--primary--mobile {
	ul {
		list-style: none;
		padding: 0;
	}
	
	.navigation--primary--item a {
		margin: 0;
	}
}

.navigation--secondary--mobile {
	margin-top: 15px;
	
	ul {
		list-style: none;
		padding: 0;
	}
	
	li &.active a {
		color: $black;
	
		
		a {
			margin: 0;
			@include font-body(13px);
			color: $gray-light;
			font-weight: 900;
			text-transform: uppercase;
			
			&:hover {
				color: $black;
			}
		}
	}
}

