/*******/
/* HTML
/*******/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-size:62.5%; //62.5% is recommended to we can easily use REM values and generate a px fallback.
	
	//background: rgba(#000, 0.2);
}
*, *:before, *:after {
	box-sizing: inherit;
}

.container, .container-fluid {
	@include container(12);
	@include clearfix();
	position: relative;
}

.cutups-spacer {
	margin: 150px 0;
}
