$icomoon-font-path: "fonts" !default;

$icon-menu-neighborhoods--map: "\e912";
$icon-menu-neighborhoods--sample: "\e913";
$icon-menu-neighborhoods--sample2: "\e914";
$icon-location: "\e907";
$icon-star: "\e908";
$icon-logo-washington: "\e900";
$icon-logo-meetings: "\e90d";
$icon-logo-groups: "\e91a";
$icon-logo-members: "\e91b";
$icon-caret-up: "\e901";
$icon-caret-right: "\e918";
$icon-caret-down: "\e919";
$icon-caret-left: "\e917";
$icon-menu: "\e915";
$icon-filter-menu: "\e909";
$icon-close: "\e90a";
$icon-share: "\e90b";
$icon-video-play: "\e90c";
$icon-magnifying-glass: "\e902";
$icon-social-circle-facebook: "\e91c";
$icon-social-circle-twitter: "\e905";
$icon-social-circle-instagram: "\e91e";
$icon-social-circle-youtube: "\e906";
$icon-social-circle-pinterest: "\e903";
$icon-social-circle-tripadvisor: "\e904";
$icon-social-facebook: "\e911";
$icon-social-twitter: "\e910";
$icon-social-instagram: "\e90f";
$icon-social-youtube: "\e90e";
$icon-social-pinterest: "\e91f";
$icon-social-tripadvisor: "\e91d";
$icon-arrow-right: "\e916";

