<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Global Elements | Washington DC</title>
        <meta name="robots" content="index,follow" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/sites/all/themes/custom/washington/media/images/icons/washington-dc.ico" />

		<link rel="stylesheet" href="/sites/all/themes/custom/washington/css/styles.css">

        <script src="/sites/all/themes/custom/washington/js/modernizr.js"></script>
    </head>
    <body class="visit-dc">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="header">
	        <div class="header--block">
		        <a href="/HOME-LINK" class="header--logo"></a>

		        <div class="header--row">
		        	<nav class="navigation--secondary">
			        	<ul>
							<li class="active"><a href="#">Visit DC</a></li>
							<li><a href="#">Meetings</a></li>
							<li><a href="#">Groups</a></li>
							<li><a href="#">Members</a></li>
							<li><a href="#">Press</a></li>
			        	</ul>
		        	</nav>
		        	<nav class="navigation--secondary--selector">
			        	<form name="audience-selector" class="audience-selector">
							<select name="menu" class="audience-selector--selector" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
								<option value="#/visitdc" selected="selected">Visit DC</option>
								<option value="#/meetings">Meetings</option>
								<option value="#/groups">Groups</option>
								<option value="#/members">Members</option>
								<option value="#/press">Press</option>
							</select>
						</form>	        	
		        	</nav>
		        	<div class="header--utilities">
			        	<ul class="utility-links">
				        	<li><a href="#">Utility Link</a></li>
				        	<li><a href="#">Utility Link</a></li>
				        	<li><a href="#">Utility Link</a></li>
			        	</ul>

						<form name="language-selector" class="language-selector">
							<select name="menu" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
								<option value="#/EN" selected="selected">English</option>
								<option value="#/ES">Espanol</option>
								<option value="#/DE">Deutsch</option>
							</select>
						</form>
		        	</div>
		        </div>

		        <div class="header--row">
			        <nav class="navigation--primary">
				        <ul>
							<li class="navigation--primary--item">
								<a href="#">Neighborhoods</a>
								<div class="navigation--dropdown navigation--dropdown__neighborhoods">
									<div class="menu-neighborhood--map"></div>
									<div class="menu-neighborhood--nav">
										<ul>
											<li class="navigation--primary--subitem"><a href="#" class="adams-morgan">Adams Morgan</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="anacostia">Anacostia</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="capitol-hill">Capitol Hill</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="capitol-riverfront">Capitol Riverfront</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="downtown">Downtown</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="dupont-circle">Dupont Circle</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="georgetown">Georgetown</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="h-street-ne">H Street NE</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="logan-circle">Logan Circle</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="national-mall">National Mall</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="petworth">Petworth</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="southwest-waterfront">Southwest Waterfront</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="u-street">U Street</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="upper-northwest">Upper Northwest</a></li>
											<li class="navigation--primary--subitem"><a href="#" class="woodley-park">Woodley Park</a></li>
										</ul>
									</div>
									<div class="menu-neighborhood--feature">
										<div class="navigation--feature">
											<a href="#"><img src="https://unsplash.it/246/131/?image=400" /></a>
											<a href="#" class="navigation--feature--headline">Minimoth & Veniam: E Egalitor Cupla</a>
											<p>Aliquam et nisl vel ligula consectetuer suscipit morbi euismod enim eget neque.</p>
										</div>

									</div>
								</div>
							</li>
							<li class="navigation--primary--item active">
								<a href="#">Things to Do</a>
								<div class="navigation--dropdown">
									<ul>
										<li class="navigation--primary--subitem"><a href="#">Lorem & Ipsum</a></li>
										<li class="navigation--primary--subitem"><a href="#">Dolor sit Amet</a></li>
										<li class="navigation--primary--subitem"><a href="#">Consectetur & Elit</a></li>
										<li class="navigation--primary--subitem"><a href="#">incididunt</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat</a></li>
										<li class="navigation--primary--subitem"><a href="#">Nostrud & Exercitation</a></li>
										<li class="navigation--primary--subitem"><a href="#">Eiusmod Tempor</a></li>
										<li class="navigation--primary--subitem"><a href="#">Pariatur</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat, Nulla, & Pariatur</a></li>
									</ul>
									<div class="navigation--feature">
										<a href="#"><img src="https://unsplash.it/246/131/?image=400" /></a>
										<a href="#" class="navigation--feature--headline">Minimoth & Veniam: E Egalitor Cupla</a>
										<p>Aliquam et nisl vel ligula consectetuer suscipit morbi euismod enim eget neque.</p>
									</div>
								</div>
							</li>
							<li class="navigation--primary--item">
								<a href="#">Places To Stay</a>
								<div class="navigation--dropdown">
									<ul>
										<li class="navigation--primary--subitem"><a href="#">Lorem & Ipsum</a></li>
										<li class="navigation--primary--subitem"><a href="#">Dolor sit Amet</a></li>
										<li class="navigation--primary--subitem"><a href="#">Consectetur & Elit</a></li>
										<li class="navigation--primary--subitem"><a href="#">incididunt</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat</a></li>
										<li class="navigation--primary--subitem"><a href="#">Nostrud & Exercitation</a></li>
										<li class="navigation--primary--subitem"><a href="#">Eiusmod Tempor</a></li>
										<li class="navigation--primary--subitem"><a href="#">Pariatur</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat, Nulla, & Pariatur</a></li>
									</ul>
									<div class="navigation--feature">
										<a href="#"><img src="https://unsplash.it/246/131/?image=401" /></a>
										<a href="#" class="navigation--feature--headline">Minimoth & Veniam: E Egalitor Cupla</a>
										<p>Aliquam et nisl vel ligula consectetuer suscipit morbi euismod enim eget neque.</p>
									</div>
								</div>
							</li>

							<li class="navigation--primary--item">
								<a href="#">Places To Eat</a>
								<div class="navigation--dropdown">
									<ul>
										<li class="navigation--primary--subitem"><a href="#">Lorem & Ipsum</a></li>
										<li class="navigation--primary--subitem"><a href="#">Dolor sit Amet</a></li>
										<li class="navigation--primary--subitem"><a href="#">Consectetur & Elit</a></li>
										<li class="navigation--primary--subitem"><a href="#">incididunt</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat</a></li>
										<li class="navigation--primary--subitem"><a href="#">Nostrud & Exercitation</a></li>
										<li class="navigation--primary--subitem"><a href="#">Eiusmod Tempor</a></li>
										<li class="navigation--primary--subitem"><a href="#">Pariatur</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat, Nulla, & Pariatur</a></li>
									</ul>
									<div class="navigation--feature">
										<a href="#"><img src="https://unsplash.it/246/131/?image=402" /></a>
										<a href="#" class="navigation--feature--headline">Minimoth & Veniam: E Egalitor Cupla</a>
										<p>Aliquam et nisl vel ligula consectetuer suscipit morbi euismod enim eget neque.</p>
									</div>
								</div>
							</li>

							<li class="navigation--primary--item">
								<a href="#">Events</a>
								<div class="navigation--dropdown">
									<ul>
										<li class="navigation--primary--subitem"><a href="#">Lorem & Ipsum</a></li>
										<li class="navigation--primary--subitem"><a href="#">Dolor sit Amet</a></li>
										<li class="navigation--primary--subitem"><a href="#">Consectetur & Elit</a></li>
										<li class="navigation--primary--subitem"><a href="#">incididunt</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat</a></li>
										<li class="navigation--primary--subitem"><a href="#">Nostrud & Exercitation</a></li>
										<li class="navigation--primary--subitem"><a href="#">Eiusmod Tempor</a></li>
										<li class="navigation--primary--subitem"><a href="#">Pariatur</a></li>
										<li class="navigation--primary--subitem"><a href="#">Fugiat, Nulla, & Pariatur</a></li>
									</ul>
									<div class="navigation--feature">
										<a href="#"><img src="https://unsplash.it/246/131/?image=403" /></a>
										<a href="#" class="navigation--feature--headline">Minimoth & Veniam: E Egalitor Cupla</a>
										<p>Aliquam et nisl vel ligula consectetuer suscipit morbi euismod enim eget neque.</p>
									</div>
								</div>
							</li>
				        </ul>
			        </nav>
			        <div class="header--search">
				        <form name="search" class="header--search--form" action="" method="post">
					        <input type="text" class="header--search--field" placeholder="What are you searching for?" />
					        <button type="submit" class="header--search--submit"></button>
					        <div class="header--search--close"></div>
				        </form>
			        </div>
			        <div class="header--toolbox">
				        <div class="header--search--trigger"></div>
				        <div class="mobile-nav--trigger"></div>
				        <button class="btn--booking" data-link="http://yahoo.com">Book</button>
				        <div class="booking-widget">widget goes here</div>
			        </div>
		        </div>

	        </div>
        </header>
        
        <div class="container">
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li><a href="#">Events</a></li>
				<li>Author's Talk: Capital Houses - Historic Residences of Washington, D.C. and Its Environs</li>
			</ul>
			
			<div class="sharethis"></div>
		</div>
		
		
		<div class="detail-block">
			<div class="detail-block--primary">
				<h1>Author's Talk: Capital Houses - Historic Residences of Washington, D.C. and Its Environs</h1>
				<div class="detail-block--date-well">
					Daily, April 3, 2016 – January 15, 2017<br/>
					7:30 PM –10:00 PM
				</div>
				

				<div class="content-tabs">
					<ul class="content-tabs--list">
						<li class="content-tabs--link current" data-tab="overview">Overview</li>
						<li class="content-tabs--link" data-tab="details">Details</li>
					</ul>
					
					<div data-content="overview" class="content-tabs--content content-block current">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#">quis nostrud exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div data-content="details" class="content-tabs--content content-block">
						
							<div class="data-block">
								<div class="data-block--title">Group Information</div>
								<div class="data-block--content">Maximum Group Size: 45<br/>
									Minimum Group Size: 10</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Largest Meeting Room Details</div>
								<div class="data-block--content">Capacity, Banquet-style: 330<br/>
									Capacity, Theater-style: 300</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Meeting Space Details</div>
								<div class="data-block--content">Inside Reception Capacity: 700</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Nearby Landmarks</div>
								<div class="data-block--content">Smithsonian Institution</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Nearby Metrorail Stations</div>
								<div class="data-block--content">Smithsonian</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Rate Information</div>
								<div class="data-block--content">Free Admission</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Discounts Available</div>
								<div class="data-block--content">Military Discount, Student Discount</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Facility Amenities</div>
								<div class="data-block--content">Handicapped Accessible</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Open Field Title</div>
								<div class="data-block--content">Open Field Entry, Open Field Entry</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Open Field Title</div>
								<div class="data-block--content">Open Field Entry</div>
							</div>
							<div class="data-block">
								<div class="data-block--title">Open Field Title</div>
								<div class="data-block--content">Open Field Entry<br/>
									Open Field Entry</div>
							</div>
							
					</div>
				</div>
				
				
				<div class="upcoming-events">
					<div class="upcoming-events--headline">Upcoming Events</div>
					
					<ul class="upcoming-events--list">
						<li>
							<div class="upcoming-events--list--item">
								<span class="upcoming-events--date">May 16, 2015 – January 2, 2017</span>
								<span class="upcoming-events--time">All Day</span>
								<a href="#" class="upcoming-events--title">Filthy Lucre: Reimagining James McNeill Whistler’s Famed Peacock Room</a>
							</div>
							<a href="#" class="upcoming-events--image"><img src="https://unsplash.it/640/480/?image=999" /></a>
						</li>
						<li>
							<div class="upcoming-events--list--item">
								<span class="upcoming-events--date">May 20, 2016</span>
								<span class="upcoming-events--time">All Day</span>
								<a href="#" class="upcoming-events--title"> Lorem Ipsum: Dolor Sit Amet</a>
							</div>
							<a href="#" class="upcoming-events--image"><img src="https://unsplash.it/640/480/?image=998" /></a>
						</li>
					</ul>
				</div>
				
				<div class="business-listing-deals">
					<div class="content-headline">Deals</div>
					
					<ul>
						<li><a href="#">20% Off Tickets to Sotatsu: Making Waves</a></li>
						<li><a href="#">20% Off Two or More Tickets for Sackler Highlights Tour</a></li>
						<li><a href="#">No Cover Charge for Family Workshop: Desert Naturescapes</a></li>
					</ul>
				</div>
				
			</div>
			
			<div class="detail-block--secondary">
				
				<picture>
					<source srcset="//unsplash.it/378/378?image=1005" media="(min-width: 768px)">
					<source srcset="//unsplash.it/734/350?image=1005" media="(min-width: 544px)">
					   <img srcset="//unsplash.it/510/378?image=1005" alt="Alt Text" />
				</picture>
				
				<div class="detail-block--contact">
					
					<ul class="detail-block--tag-cloud">
						<li><a href="#">Arts & Culture</a></li>
						<li><a href="#">museums</a></li>
					</ul>
					
					<div class="detail-block--contact--title">Event Location</div>
					<p>Location Name Title<br/>
					1111 Street Name, Washington, DC 20013<br/>
					<a href="#" class="map-link">Dupont Circle</a></p>
					
					<div class="detail-block--contact--title">custom section title</div>
					<p>Nulla dui purus, eleifend vel: XXX-XXX-XXXX, or <a href="#">email@emailaddress.com</a></p>
					
					<a href="#" class="btn">Tickets</a> <a href="#" class="btn">Website</a>
					
					<p>Posted by: <a href="#">Business Listing Name</a></p>
					
					<div class="detail-block--contact--title">Event social</div>
					<ul class="detail-block--contact--social">
						<li><a href="#" class="social--facebook"></a></li>
						<li><a href="#" class="social--twitter"></a></li>
						<li><a href="#" class="social--instagram"></a></li>
						<li><a href="#" class="social--pinterest"></a></li>
						<li><a href="#" class="social--youtube"></a></li>
						<li><a href="#" class="social--tripadvisor"></a></li>
					</ul>
					
				</div>
				
				
				
				
				<div class="sponsored-editorial">
					<div class="content-headline">Sponsored</div>
					
						<div class="sponsored-editorial--item">
							<img src="https://unsplash.it/130/130/?image=997" />
							<a href="#" class="sponsored-editorial--title">Sagittis Massa Vestiumulum eget Nulla Facilisis</a>
							<p class="sponsored-editorial--blurb">Aliquam et nisl vel ligula consectetuer suscipit morbi euism</p>
						</div>
						
						<div class="sponsored-editorial--item">
							<img src="https://unsplash.it/130/130/?image=996" />
							<a href="#" class="sponsored-editorial--title">Vestiumulum eget Nulla Facilisis</a>
							<p class="sponsored-editorial--blurb">Sonsectetuer suscipit aliquam vel ligula  morbi euism et nisl</p>
						</div>
				</div>
				
				
				
			</div>
		</div>
        
        <footer class="footer">
	        <div class="footer--sticky">
		        <div class="footer--block">
			        <ul class="footer--sticky--links">
				        <li><a href="#">Deals</a></li>
				        <li><a href="#">Official Free Vistor Guide</a></li>
				        <li><a href="#">eNewsletter</a></li>
			        </ul>
			        
			        <ul class="footer--social">
						<li><a href="#" class="social--circle--facebook"></a></li>
						<li><a href="#" class="social--circle--twitter"></a></li>
						<li><a href="#" class="social--circle--pinterest"></a></li>
						<li><a href="#" class="social--circle--youtube"></a></li>
						<li><a href="#" class="social--circle--tripadvisor"></a></li>
			        </ul>
		        </div>
	        </div>
	        <div class="footer--wrapper">
		        <div class="footer--block">
			        
			        <div class="footer--block--item">
				        <a href="#" class="footer--logo"></a>
				        <p>Copyright &copy; 2016</p>
			        </div>
			        
			        <div class="footer--block--item">
				        <ul>
							<li><a href="#">Getting Around DC</a>
								<ul>
									<li><a href="#">Transportation</a></li>
									<li><a href="#">Airport</a></li>
									<li><a href="#">Metro</a></li>
								</ul>
							</li>
							<li><a href="#">DC Visitors FAQ</a>
				        </ul>
			        </div>
			        
			        <div class="footer--block--item">
				        <ul>
							<li><a href="#">About Destination DC</a></li>
							<li><a href="#">The American Experience Foundation</a></li>
							<li><a href="#">Accessibility</a></li>
				        </ul>
			        </div>
			        
			        <div class="footer--block--item">
				        <a href="#">Contact Destination DC</a>
				        <p>901 7th Street NW, 4th Floor<br/>
					        Washington, DC 20001-3719<br/>
					        202-789-700 / Fax 202-789-7037</p>
			        </div>
			        
		        </div>
	        </div>
	        <div class="footer--partners">
		        <div class="footer--block">
			        <span class="partners--headline">Signature Partners</span>
		        </div>
	        </div>
        </footer>


		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/sites/all/themes/custom/washington/js/scripts.js"></script>

    </body>
</html>
